body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: aqua;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

span.user {
    font-weight: bold;
    color: #333;
}

input {
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#getLocationButton {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block; /* makes the button a block element */
    margin: 0 auto; /* centers the button */
    margin-top: 15px;
}

#getLocationButton:hover {
    background-color: #0056b3;
}