body{
    background: linear-gradient(to right, rgb(228, 94, 240), rgb(248, 248, 248));
}

.form{
    background-color: aqua;
    min-width: 100px;
    max-width: 500px;
    height: auto;
    margin: auto;
    justify-content: center;
    font-size: large;
}

.LoginPa{
    text-align: center;
}

.form:hover{
    background-color: rgb(0, 240, 240);
}


.Head{
    font-size: 50px;
    background: linear-gradient(to right, yellow, rgb(252, 252, 210));
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 2px 2px;
    
}
/* 
option{
    color: black;
} */

.user{
    margin: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    background-color: white;
}

.form>button{
    font-size: large;
    color: black;
}

.form>button:hover{
    background-color: red;
}