<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <title>Document</title>
</head>
<body>
    <div class='LoginPa'>
        <form class='form' action="/login" method="post">
            <span class='Head'>Kaarigar Sathi</span><br/><br/><br/>
            
            <span class='user'>Enter your username</span><br/>
            <input name='username' type='text' /> <br/><br/>
            <span class='user'>Enter your password</span><br/>
            <input name='password' type='password' /><br/><br/>
            
            <button>Let's go</button><br/><br/>
           Don't have an account yet ? <a href="/signup">Create a new account</a>
        </form>
        </div>
</body>
</html>