<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <title>Document</title>

</head>
<body>
    <div class="pro">
    <div class='navbar'>
        <div class='nav-logo'>
            <img src="/images/logo.png" alt="" />
        </div>
        <ul class="nav-menu">
            <li class="home">Home</li>
            <li class="about">About</li>
        </ul>
        <div class='nav-login-cart'>
            <a class="about" href="/details">View your profile</a> 
        </div>
        
            <a class="logoutBut" href="/logout">
                Logout
            <!-- <li class="logoutBut">Logout</li> -->
            </a>

    </div>