<!DOCTYPE html>
<html>
  <head>
    <title>Hello</title>
    <link rel='stylesheet' href='/stylesheets/login.css' />
  </head>
  <body>
    <div>
      <div class='LoginPa'>
      <form class='form' action="/register" method="post">
          <span class='Head'>Kaarigar-Sathi</span><br/><br/><br/>
          <h4>Select your profile </h4>
          <select name="selectedOption" id="selectedOption">
              <option disabled selected>Select</option>
              <option value="vendor">Vendor</option>
              <option value="Customer">Customer</option>
          </select><br/><br/>
          <div id="professionInput" style="display:none;">
            <label for="profession">Profession:</label>
            <input type="text" id="profession" name="profession">
          </div><br/>
          <span class='user'>Enter your mobile no.</span><br/>
          <input name='mobile' type='number' /> <br/><br/>
          <span class='user'>Enter your name</span><br/>
          <input name='name' type='text' /> <br/><br/>
          <span class='user'>Enter your email</span><br/>
          <input name='email' type='email' /> <br/><br/>
          <span class='user'>Enter your location</span><br/>
          <input id="locationName" name='locationName' type='text' /> <br/><br/>
          <span class='user'>Enter your username</span><br/>
          <input name='username' type='text' /> <br/><br/>
          <span class='user'>Enter your password</span><br/>
          <input name='password' type='password' /><br/><br/>
          <span><%=error%></span>
          <button>Let's go</button><br/><br/>
         Already have an account ? <a href="/login">Login now</a>
      </form>
      </div>
  </div>

  <script>
    function toggleProfessionInput() {
      var selectedOption = document.getElementById("selectedOption").value;
      var professionInput = document.getElementById("professionInput");

      if (selectedOption === "vendor") {
        professionInput.style.display = "block";
      } else {
        professionInput.style.display = "none";
      }
    }
  </script>
  </body>
</html>
